:root {
    background: #E3EDFB;

    --color-icon: #0B3A67;

    --image-width: 8rem;
    --card-padding: 1rem;

    --font-heading: 1.75rem;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */

article{
    display: grid;
    grid-auto-columns: auto 1fr;
    gap: 10px;
}

.ikoner{
    display: flex;
    flex-direction: row;
}

svg{
    color: var(--color-icon);
}

img{
    grid-row: 1/-1;
    border-radius: 50%;
    width: var(--image-width);
    pad: var(--card-padding);
    object-fit: cover;
    align-items: center;
}

h1{
    font-size: var(--font-heading);
}
h2{
    color: mediumspringgreen;
}

/* tilføjet efter jeg har set det*/
.info{
    display: grid;
    grid-auto-rows: 50px;
    grid-row: 2/-1;
    padding: var(--card-padding);
}