article {
    max-width: auto;
    margin-inline: auto;
}

.content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 2fr);
    --content: min(130ch, 100% - var(--gap) * 3);
    --popout: minmax(0, 5rem);
  
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--full) [full-end];
  }

  .content > * {
    grid-column: content;
  }
  
  .popout {
    grid-column: popout;
  }

  
  .full {
    grid-column: full;
  }