/* Dine styles her */
article {
   --flow-space: clamp(1rem, 2vh, 2rem);
   --h3-space: .25rlh;
}
.flow > *+* {
        margin-block-start: var(--flow-space, 0.5rlh);
 }
    
.flow h2 +*{
    margin-block-start: 2rlh;
}

.flow h3 +*{
    margin-block-start: 1rlh;
}

.flow h3 +*{
    --flow-space:var(--h3-space);
    margin-block-start: var(--flow-space);
}




/*1. Angiv en standard vertikal margin på `.5rlh` mellem alle elementer inde i **`article`**, med mulighed for overskrive denne via en custom property kaldet `--flow-space`.
2. For `h2`, sæt `—flow-space`-værdien til `2rlh`.
3. For `h3`, sæt `—flow-space`-værdien til `1rlh`.
4. For alle elementer, der kommer lige efter **`h3`**, reducér `—flow-space` til `.25rlh`.*/